:root {
  --primary: #000;
  --secondary: #ff0000;
  --dark-color: #292929;
  --white-color: #e7e7e7;
}
main>.container {
  padding: 60px 15px 0;
  margin-bottom: 5rem;
}

body {
  color: var(--dark-color);
}

nav {
  background-color: var(--dark-color);
}

footer {
  background-color: var(--dark-color);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  color: var(--primary);
}

footer {
  font-size: 1rem;
}

footer .social a {
  color: var(--white-color);
  opacity: .75;
}

footer .social > a:hover {
  opacity: 0.9;
  color: var(--secondary);
}

.img-container > img {
  max-height: 325px;
  border-radius: 50%;
}



.logoFont {
  font-family: 'Monoton', sans-serif;
  font-weight: 400;
  font-size: medium;
}
.bsicon {
  color: purple;
}

.jsicon {
  color: rgb(226, 211, 4);
}

.html5icon {
  color: orangered;
}

.cssicon {
  color: rgb(11, 82, 214);
}

.checklist > li i {
  color: var(--secondary);
}

code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
}


.sticky-footer {
  position: sticky;
  left: 0;
  bottom: 0;
  width: 100%;
}

@media(max-width: 990px) {
  .img-container  {
    padding-top: 2rem;
  }
  
}